#portfolio {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 50px;
}

#portfolio h1 {
    color: var(--white);
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
}

#portfolio .process-wrapper {
    margin: auto;
    max-width: 1080px;
}

#portfolio #progress-bar-container {
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 50px;
}

#progress-bar-container ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

#progress-bar-container li:before {
    content: " ";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
        border-radius: 50%;
        border: solid 2px #aaa;
        transition: all ease 0.3s;
}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
    border: solid 2px #fff;
    background: linear-gradient(to right, var(--primary) 0%, var(--unique-color) 100%);
}

#progress-bar-container li {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}

#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: var(--unique-color);
}

#progress-bar-container li:after {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background: #777;
    margin: auto;
    border: solid 7px #fff;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

#progress-bar-container li:hover:after {
    background: #555;
}

#progress-bar-container li.active:after {
    background: var(--primary);
}

#progress-bar-container #line {
    width: 80%;
    margin: auto;
    background: #eee;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
    content: " ";
    width: 3%;
    height: 100%;
    background: #3590d2;
    background: linear-gradient(to right, var(--primary) 0%, #f0538a 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 100%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 4px;
}

#progress-content-section .section-content {
    padding: 30px 30px;
    text-align: center;
}

#progress-content-section .section-content h2 {
    font-size: 17px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

#progress-content-section .section-content p {
    font-size: 13px;
    line-height: 1.8em;
    color: var(--white-secondary);
    text-align: left;
}

#progress-content-section .section-content {
    display: none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode: forwards;
    transform: translateY(15px);
    opacity: 0;
}

#progress-content-section .section-content.active {
    display: block;
}

@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
}

/* Card style  */

.grid {
    font-family: 'Inter', Arial;
    overflow: hidden;
    display: flex;
    justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    position: relative;
    z-index: 1;
}

grid:before {
    content: '';
    position: absolute;
    inset: 0 -60% 65% -60%;
    background-image: radial-gradient(ellipse at top, var(--primary) 0%, var(--background-color) 50%);
    opacity: var(--blur-opacity);
}

.card {
    --background-color: #2b343a;
    --text-color: #a1a1aa;
    --card-background-color: rgba(255, 255, 255, .015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #fff;
    --card-icon-color: #d4d4d8;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: 0.1;
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, var(--primary) 25deg, rgba(34, 122, 223, 0.18) 295deg, rgba(19, 81, 161, 0) 360deg);
    --card-line-color: #2a2b2c;
    --card-tile-color: rgba(16, 185, 129, 0.05);
    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
    --card-hover-icon-color: var(--primary);
    --card-hover-icon-background-color: rgba(19, 161, 226, 0.1);
    --card-hover-icon-border-color: rgba(27, 123, 201, 0.2);
    --blur-opacity: 0.01;
    background-color: var(--background-color);
    box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
    padding: 16px 16px 16px 16px;
    border-radius: 5 px;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;
    height: 300px;
    width: 245px;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: var(--card-background-color);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.card .icon {
    z-index: 2;
    position: relative;
    display: table;
    padding: 10px;
    width: 30px;
    height: 30px;

}

.card .icon::after {
    content: '';
    position: absolute;
    inset: 4.5px;
    border-radius: 50%;
    background-color: var(--card-icon-background-color);
    border: 1px solid var(--card-icon-border-color);
    backdrop-filter: blur(2px);
    transition: background-color 0.25s, border-color 0.25s;
}

.card .icon svg {
    position: relative;
    z-index: 1;
    display: block;
    width: 30px;
    height: 30px;
    transform: translateZ(0);
    color: var(--card-icon-color);
    transition: color 0.25s;
}

.card h4 {
    z-index: 2;
    position: relative;
    margin: 8px 0 4px 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.5px;
    color: var(--card-label-color);
}

.card p {
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 13px;
    line-height: 1.7;
    color: var(--text-color);
}

.card .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.card .shine:before {
    content: '';
    width: 150%;
    padding-bottom: 150%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 55%;
    filter: blur(35px);
    opacity: var(--card-shine-opacity);
    transform: translateX(-50%);
    background-image: var(--card-shine-gradient);
}

.card .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
    mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
}

.card .background .tiles {
    opacity: 0;
    transition: opacity 0.25s;
}

.card .background .tiles .tile {
    position: absolute;
    background-color: var(--card-tile-color);
    animation-duration: 8s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.card .background .tiles .tile.tile-4,
.card .background .tiles .tile.tile-6,
.card .background .tiles .tile.tile-10 {
    animation-delay: -2s;
}

.card .background .tiles .tile.tile-3,
.card .background .tiles .tile.tile-5,
.card .background .tiles .tile.tile-8 {
    animation-delay: -4s;
}

.card .background .tiles .tile.tile-2,
.card .background .tiles .tile.tile-9 {
    animation-delay: -6s;
}

.card .background .tiles .tile.tile-1 {
    top: 0;
    left: 0;
    height: 10%;
    width: 22.5%;
}

.card .background .tiles .tile.tile-2 {
    top: 0;
    left: 22.5%;
    height: 10%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-3 {
    top: 0;
    left: 50%;
    height: 10%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-4 {
    top: 0;
    left: 77.5%;
    height: 10%;
    width: 22.5%;
}

.card .background .tiles .tile.tile-5 {
    top: 10%;
    left: 0;
    height: 22.5%;
    width: 22.5%;
}

.card .background .tiles .tile.tile-6 {
    top: 10%;
    left: 22.5%;
    height: 22.5%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-7 {
    top: 10%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-8 {
    top: 10%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
}

.card .background .tiles .tile.tile-9 {
    top: 32.5%;
    left: 50%;
    height: 22.5%;
    width: 27.5%;
}

.card .background .tiles .tile.tile-10 {
    top: 32.5%;
    left: 77.5%;
    height: 22.5%;
    width: 22.5%;
}

@keyframes tile {

    0%,
    12.5%,
    100% {
        opacity: 1;
    }

    25%,
    82.5% {
        opacity: 0;
    }
}

.card .background .line {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.35s;
}

.card .background .line:before,
.card .background .line:after {
    content: '';
    position: absolute;
    background-color: var(--card-line-color);
    transition: transform 0.35s;
}

.card .background .line:before {
    left: 0;
    right: 0;
    height: 1px;
    transform-origin: 0 50%;
    transform: scaleX(0);
}

.card .background .line:after {
    top: 0;
    bottom: 0;
    width: 1px;
    transform-origin: 50% 0;
    transform: scaleY(0);
}

.card .background .line.line-1:before {
    top: 10%;
}

.card .background .line.line-1:after {
    left: 22.5%;
}

.card .background .line.line-1:before,
.card .background .line.line-1:after {
    transition-delay: 0.3s;
}

.card .background .line.line-2:before {
    top: 32.5%;
}

.card .background .line.line-2:after {
    left: 50%;
}

.card .background .line.line-2:before,
.card .background .line.line-2:after {
    transition-delay: 0.15s;
}

.card .background .line.line-3:before {
    top: 55%;
}

.card .background .line.line-3:after {
    right: 22.5%;
}

.card:hover {
    box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
}

.card:hover .icon::after {
    background-color: var(--card-hover-icon-background-color);
    border-color: var(--card-hover-icon-border-color);
}

.card:hover .icon svg {
    color: var(--card-hover-icon-color);
}

.card:hover .shine {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0s;
}

.card:hover .background .tiles {
    opacity: 1;
    transition-delay: 0.25s;
}

.card:hover .background .tiles .tile {
    animation-name: tile;
}

.card:hover .background .line {
    opacity: 1;
    transition-duration: 0.15s;
}

.card:hover .background .line:before {
    transform: scaleX(1);
}

.card:hover .background .line:after {
    transform: scaleY(1);
}

.card:hover .background .line.line-1:before,
.card:hover .background .line.line-1:after {
    transition-delay: 0s;
}

.card:hover .background .line.line-2:before,
.card:hover .background .line.line-2:after {
    transition-delay: 0.15s;
}

.card:hover .background .line.line-3:before,
.card:hover .background .line.line-3:after {
    transition-delay: 0.3s;
}

/* Certifications styling */


ol.gradient-list>li,
ol.gradient-list>li::before {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
    box-sizing: border-box;
}

ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}

ol.gradient-list>li {
    background: var(--dark-secondary);
    color: var(--white);
    border-radius: 0 1rem 1rem 1rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
}

ol.gradient-list>li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    color: var(--primary);
}

ol.gradient-list>li::before,
ol.gradient-list>li::after {
    background: linear-gradient(135deg, #3590d2 0%, #ff8bb3 100%);
    border-radius: 1.5rem 1.5rem 0 1.5rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}

ol.gradient-list>li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.50em 0.50em;
    z-index: 1;
}

/* ol.gradient-list>li:nth-child(10n+1):before {
    background: linear-gradient(135deg, #3590d2 0%, #ff8bb3 100%);
}

ol.gradient-list>li:nth-child(10n+2):before {
    background: linear-gradient(135deg, #3590d2 0%, #ff8bb3 100%);
}

ol.gradient-list>li:nth-child(10n+3):before {
    background: linear-gradient(135deg, #3590d2 0%, #ff8bb3 100%);
}

ol.gradient-list>li:nth-child(10n+4):before {
    background: linear-gradient(135deg, #3590d2 0%, #ff8bb3 100%);
}

ol.gradient-list>li:nth-child(10n+5):before {
    background: linear-gradient(135deg, #3590d2 0%, #ff8bb3 100%);
} */

ol.gradient-list>li+li {
    margin-top: 2rem;
}