#resume {
  position: relative;
  padding: 0 20px;
  background-color:var(--dark);
  font-family: 'Open Sans', sans-serif;
}
.download-btn {
  position: absolute;
  top:20px;
  right:20px;
  border: none;
  padding:4px 8px;
  background-color: var(--primary);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.download-btn ion-icon{
  color:var(--white);
  font-size: 25px;
  transform: translateY(0px);
  animation: resume 1.5s linear infinite;
}
@keyframes resume{
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(25px);
    opacity: 0.5;
  }
}
.top-box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  padding-bottom: 0;
}
.top-box .imgBx {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.top-box .imgBx .box {
  position: relative;
  width: 70%;
  min-width: 150px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}
.top-box .imgBx .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-box .profileText {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: center;
}
.profileText h3 {
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-weight: 600;
  color: var(--white);
}
.profileText h3 span {
  position: relative;
  font-size: 0.6em;
  font-weight: 500;
  opacity: 0.8;
  top: -10px;
}
#resume .contentBx {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 40px 40px;
}
.contentBx h3 {
  border-left: 4px solid #ff8bb3;
  line-height: 1em;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 50px;
  background: #2B343A;
  padding: 5px 10px;
  color: var(--white);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.contentBx ul {
  position: relative;
  margin: 10px 0;
}
.contentBx ul li {
  margin: 25px 0;
  line-height: 1em;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.contentBx ul li ion-icon {
  font-size: 1.2em;
  margin-right: 10px;
  color: var(--primary);
}
.contentBx ul.education li {
  flex-direction: column;
  align-items: start;
  margin: 25px 0;
}
#resume h5 {
  color: var(--primary);
  font-size: 15px;
}
#resume h4 {
  color: var(--white);
  font-weight: 500;
  margin: 5px 0;
  font-size: 14px;
}
#resume h6 {
  color: var(--white-secondary);
  font-weight: 300;
  font-size: 1em;
}
.language li {
  flex-direction: column;
  align-items: start !important;
}
.language li span {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}
.language .percent {
  position: relative;
  width: 100%;
  background-color: #e3e3e3;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}
.language div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #3590d2;
}
ul.interest {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
ul.interest li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
ul.interest li .icon {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 5px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.interest li .icon ion-icon {
  color: var(--white);
  margin-right: 0;
}
.rightSide {
  padding-left: 40px;
}
.rightSide p,
ol {
  font-size: 14px;
  text-align: justify;
  color:rgba(255,255,255,0.5);
}
.rightSide ol li span {
  color: #ff8bb3;
}
.about-skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.about-skills .box h4 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 5px;
}
.about-skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #e3e3e3;
}
.about-skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--primary);
}
.about-project a {
  color: var(--white-secondary);
  text-decoration: none;
  font-size: 13px;
}
.about-project a:hover {
  color: var(--primary);
}
.about-project .text {
  padding-top: 5px;
}

